@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
@Html.Partial("_SlidePartial")
</div>

<div class="row">
    <div class="col-md-offset-4 col-md-4">
        <h2>Getting started</h2>
        <p>
            This is FGR managment system where you can manage department, courses, enrollment and other related things...
        </p>
        <p><a class="btn btn-default" href="~/Account/Login">Please Login to access the system &raquo;</a></p>
    </div>
</div>
