@model  IEnumerable<Anntgc00492University.Model.ViewModels.EnrollmentDateGroup>
@{
    ViewBag.Title = "Static";
    Layout = "~/Areas/Admin/Views/Shared/_MyLayout.cshtml";
}

<div class="box" style="padding:30px">
    <div class="box-header">
        <h2>Enrollment Date Group Static</h2>
    </div>
    <div class="box-body">
        <table>
            <tr  style="text-align: center">
                <th>Enrollment Date</th>
                <th>Student num</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr style="text-align: center">
                    <td>
                        @Html.DisplayFor(m=>item.EnrollmentDate)       
                    </td>
                    <td>
                       @item.StudentCount
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

