
@{
    ViewBag.Title = "DB";
}
<div class="box">
    <div class="box-header">
        <h2>DB diagram</h2>
    </div>
    <div class="box-body">
        <dl class="dl-horizontal">
            <img class="img-responsive" src="~/Content/Admin/img/db.PNG" alt="Chania" />
        </dl>
    </div>
</div>

