
@{
    ViewBag.Title = "ERD";
}
<div class="box">
    <div class="box-header">
        <h2>ERD</h2>
    </div>
    <div class="box-body">
        <dl class="dl-horizontal">
            <img class="img-responsive" src="~/Content/Admin/img/erd.PNG" alt="Chania">            </dl>
    </div>
</div>

